<!DOCTYPE html>
<html>

<head>
    <title>Chat</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
        integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g=="
        crossorigin="anonymous" />
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body class="container">
    <h1 id="title">Olá</h1>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xl-12">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <h3>Login</h3>
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="digite test" id="username" />
                        <div class="input-group-append">
                            <button class="btn btn-success" onclick="login()" id="connect">Entrar</button>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-6 col-sm-6 col-xl-6 text-right hide">
                    <h3>Usuários Online</h3>
                    <ul id="online"></ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row form">
        <div id="chat_container" class="col-md-12 col-lg-12 col-sm-12 d-none">
            <div id="chat" class="border rounded mb-2 form-body" style="height: 200px; overflow: scroll;">
                <ul id='messages'></ul>

            </div>
            <div class="form-actions right input-group">
                <input class="form-control" type="text" placeholder="Digite uma mensagem..." id="messageText" />
                <div class="input-group-append">
                    <button onclick="sendMessage()" class="btn btn-success">Enviar</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous"></script>
    <script>
        var client_id;
        var ws;
        var to;
        var accessToken;

        async function login() {

            let response = await fetch('http://localhost:8000/get-token', {
                method: 'POST',
                body: JSON.stringify({
                    username: document.querySelector('#username').value,
                    // password: document.querySelector('#password').value,
                })
            })
                .then(response => response.json())
                .then(data => {
                    accessToken = data.access_token;
                    localStorage.setItem('accessToken', accessToken)
                    connect(accessToken)
                    $('#title').text(accessToken)
                })
        }

        async function setToChat(to_user) {
            to = to ? null : to_user
            $('#chat_container').toggleClass('d-none')
            var messages = await getChat (accessToken, to)
            buildMessagesInChat(messages)
        }

        function buildMessagesInChat (messages) {
            // limpa chat
            $('#messages').html('')
            for (var msg of messages) {
                // se mensagem para mim
                if (msg.to === accessToken) {
                    $('#messages').append(`<li style="list-style-type: none;" class="alert alert-success">${msg.message}</li>`);
                } else {
                    $('#messages').append(`<li style="list-style-type: none;" class="text-right alert alert-dark">${msg.message}</li>`)
                }
            }
            scrollDownChat()
        }

        function scrollDownChat () {
            // var n = $('#chat').height();
            $('#chat').animate({ scrollTop: 3000 }, 10);
        }

        function connect(token) {

            ws = new WebSocket(`ws://localhost:8000/ws/${token}`);

            ws.onopen = function (event) {
                ws.send(({ type: 'websocket.connect' }))
            }

            ws.onmessage = function (event) {
                let data = JSON.parse(event.data)

                if (data.type == 'websocket.connected') {
                    toastr.success('conectado')
                }

                // online list users
                if (data.online) {
                    // clear online users
                    $('#online').html('')

                    for (var user of data.online) {

                        if (token != user) {
                            $('#online').append(`<li><a href="#" onclick="setToChat(this.innerHTML)">${user}</a></li>`)
                        }
                    }
                }

                // message in chat box
                if (data.message) {

                    $('#messages').append(`<li style="list-style-type: none;" class="alert alert-success">${data.message}</li>`);


                    scrollDownChat()
                }

                if (data.from && data.from != to) {
                    toastr.warning(`${data.from} enviou uma mensagem`).click(function () {
                        setToChat(data.from)
                        scrollDownChat()
                    })
                }
            };
        }

        function sendMessage() {
            var input = document.getElementById("messageText")
            $('#messages').append(`<li style="list-style-type: none;" class="text-right alert alert-dark">${input.value}</li>`)
            ws.send(JSON.stringify({ message: input.value, to: to }))
            input.value = ''

            scrollDownChat()
        }

        async function getChat (from, to) {
            return await fetch('http://localhost:8000/get-chat', {
                method: 'POST',
                body: JSON.stringify({
                    to: to,
                    from: from,
                })
            })
            .then(response => response.json())
            .then(data => {
                return data.messages;
            })
        }
    </script>
</body>

</html>
